* {
    margin: 0;
    padding: 0;
    boxsizing: borderbox;
    fontfamily: Arial sansserif;
}

body {
    backgroundcolor: #0b0e14;
    color: white;
}

.navbar {
    display: flex;
    justifycontent: spacebetween;
    alignitems: center;
    padding: 25px 60px;
    backgroundcolor: #070a10;
}

.logo {
    display: flex;
    alignitems: center;
    gap: 12px;
    fontsize: 24px;
    fontweight: bold;
}

.logo img {
    width: 42px;
}

nav a {
    color: #b5b8ff;
    marginleft: 25px;
    textdecoration: none;
    fontweight: bold;
}

.hero {
    padding: 140px 20px;
    textalign: center;
    background: lineargradient(#12162a #0b0e14);
}

.hero h1 {
    fontsize: 52px;
    marginbottom: 20px;
}

.hero p {
    fontsize: 18px;
    color: #c7c9ff;
    maxwidth: 600px;
    margin: auto;
}

.buttons {
    margin top: 40px;
    display: flex;
    justifycontent: center;
    gap: 20px;
}

.button {
    padding: 15px 34px;
    fontsize: 16px;
    fontweight: bold;
    borderradius: 8px;
    textdecoration: none;
}

.main {
    backgroundcolor: #5865f2;
    color: white;
}

.main:hover {
    backgroundcolor: #4752c4;
}

.outline {
    border: 2px solid #5865f2;
    color: #5865f2;
}

.outline:hover {
    backgroundcolor: #5865f2;
    color: white;
}

.features {
    padding: 100px 60px;
    textalign: center;
}

.features h2 {
    fontsize: 38px;
    marginbottom: 50px;
}

.cards {
    display: grid;
    gridtemplatecolumns: repeat(auto fit minmax(260px 1fr));
    gap: 30px;
}

.card {
    backgroundcolor: #12162a;
    padding: 35px;
    borderradius: 14px;
}

.card h3 {
    color: #9aa4ff;
    marginbottom: 12px;
}

footer {
    padding: 25px;
    textalign: center;
    backgroundcolor: #070a10;
    color: #888;
}
